.footer {
   height: 315px;
   margin-top: 102px;
   .connect {
      font-size: 16px;
      line-height: 32px;
      color: rgba(55, 56, 61, 1);
      margin-bottom: 15px;
      img {
         padding-top: 4px;
         padding-right: 6px;
      }
   }
   .social-links a {
      margin-right: 15px;
   }
   .footer-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 49px;
      color: #37383D;
   }
   a {
      font-size: 18px;
      line-height: 49px;
      color: #37383D;
   }
}

@media (max-width: 1200px) {
   .connect {
      font-size: 14px !important;
   }
   .footer-title {
      font-size: 16px !important;
   }
   .footer-sub a {
      font-size: 14px !important;
   }
}